._GeneratorFolder_C_ce { /*Color*/
}._GeneratorFolder_C_F_ce { /*Folders*/
	color: rgba(0,128,0,0.9); /**green*/
}._GeneratorFolder_C_TXT_ce { /*TXT*/
	color: rgba(75,144,211,0.9); /**3*cornflowerblue + teal*/
	/*color: rgba(67,142,201,0.9);*/ /**2*cornflowerblue + teal*/
}._GeneratorFolder_C_VL_ce { /*Versions List*/
	color: rgba(0,128,96,0.9); /**3*teal + green*/
}._GeneratorFolder_C_FF_ce { /*Files' Folders*/
	color: rgba(255,127,80,0.9); /**coral*/
}._GeneratorFolder_C_Fl_ce { /*Files*/
	color: rgba(128,128,104,0.9); /**coral + teal*/
}._GeneratorFolder_C_P_ce { /*Programs*/
	color: rgba(0,128,128,0.9); /**teal*/
}._GeneratorFolder_C_Pj_ce { /*Projects*/
	color: rgba(255,165,0,0.9); /**orange*/
}._GeneratorFolder_C_PjP_ce { /*Projects Programs*/
	color: rgba(128,146,64,0.9); /**orange + teal*/
}

._GeneratorFolder_FT_ce { /*File Type*/
	color: gray;
}._GeneratorFolder_FT__ce { /*File Type /*/
}._GeneratorFolder_FT_html_ce { /*File Type /html*/
}._GeneratorFolder_FT_py_ce { /*File Type /py*/
}

._GeneratorFolder_LE_ce { /*?*/
	transition-duration: 0.4s;
}._GeneratorFolder_LE_ce.hover, ._GeneratorFolder_LE_ce:hover {
}._GeneratorFolder_LE_ce { /*?*/
	margin: 0px;
}._GeneratorFolder_LE_ce.hover, ._GeneratorFolder_LE_ce:hover { /*?*/
	/*transform: scale(1.2);
	transform-origin: left;*/
	background: rgba(55,55,55,0.05);
	/*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 0, 1) 100%);*/
}._GeneratorFolder_LE_C_ce { /*Cell*/
	text-align: left;
}._GeneratorFolder_LE_C_ce.hover, ._GeneratorFolder_LE_C_ce:hover {
}._GeneratorFolder_LE_CF_ce { /*Cell Fake*/
	height: 6px;
}._GeneratorFolder_LE_CF_ce.hover, ._GeneratorFolder_LE_CF_ce:hover {
}._GeneratorFolder_LE_CL_ce { /*Cell Large*/
}._GeneratorFolder_LE_CL_ce.hover, ._GeneratorFolder_LE_CL_ce:hover {
	opacity: 0.95;
	transform: scale(1.2);
}._GeneratorFolder_LE_T_ce { /*Table*/
	margin-left: auto;
	margin-right: auto;
}
