@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@1,700&display=swap');

body {
	background: rgba(33,33,33,0.8);
	color: rgba(0,0,0,0.95)!important;
	font-family: 'Lucida Console', monospace;
	font-family: 'Ubuntu Mono', monospace;
	font-size: calc(1.2em + 0.2vmax); /**2.5vmin; 1vmax; 20px; 1.5em*/
	transition-duration: 0.4s;
}body * {
	transition-duration: 0.4s;
}

button {
	background: rgba(55,55,55,0.8);
	border: 0.4vmin solid rgba(44,44,44,0.8);
    border-radius: 0.5vmin;
	color: rgba(0,0,0,0.8);
	color: rgba(22,22,22,0.8);
	font-size: 2.5vmin;
	transition-duration: 0.2s;
}button.focus, button:focus {
    outline: 0;
    box-shadow: none!important;
}button:hover {
	background: rgba(88,88,88,0.8)!important;
}

div {
	transition-duration: 0.4s;
}

::placeholder {
	color: rgba(55,55,55,0.8);
}:-ms-input-placeholder {
	color: rgba(55,55,55,0.8);
}::-ms-input-placeholder {
	color: rgba(55,55,55,0.8);
}

::selection {
	background: rgba(99,99,99,0.8);
}::-moz-selection {
	background: rgba(99,99,99,0.8);
}

textarea {
	color: rgba(0,0,0,0.8);
	resize: none;
	scrollbar-color: rgba(55,55,55,0.8) rgba(0,0,0,0);
	scrollbar-width: thin;
	transition-duration: 0.4s;
}textarea:hover{
	background: rgba(116,116,116,0.8)!important;
}textarea.focus, textarea:focus {
    outline: 0;
    box-shadow: none!important;
}

::-webkit-scrollbar {
	width: 0.5vw;
	background: rgba(88,88,88,0);
	border-radius: 0.25vw;
	transition-duration: 0.4s;
}::-webkit-scrollbar-track {
	background: linear-gradient(90deg,rgba(88,88,88,0.2),rgba(0,0,0,0));
	border-radius: 0.25vw;
}::-webkit-scrollbar-track:hover {
	background: rgba(88,88,88,0.4);
}::-webkit-scrollbar-thumb {
	background: rgba(55,55,55,0.5);
	border-radius: 0.25vw;
}::-webkit-scrollbar-thumb:hover {
	background: rgba(55,55,55,0.8);
}

._0_ce { /*0*/
	border: 0px;
	border: 0;
	margin: 0px;
	margin: 0;
	padding: 0px;
	padding: 0;
}

._C_ce { /*Center*/
	transform: translate(-50%,-50%);
}._CX_ce { /*Center X*/
	transform: translateX(-50%);
}._CY_ce { /*Center Y*/
	transform: translateY(-50%);
}

._DN_ce { /*Display None*/
	display:none;
}

._DHTML_ce { /*Div HTML*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}_DHTML_ce * {
}

._Info_ce {
	display: none;
}_Info_ce * {
}

._DE_ce { /*Div Error*/
}

._noselect_ce {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
