body {
	background: #6B8E23;
}

#calc{
	text-align: center;
	top:50%; 
	left:50%;
	transform:translate(-50%,-50%) scale(2);
	position:absolute;
}

.num{
	-webkit-writing-mode: horizontal-tb !important;
	text-align: center;
	text-rendering: auto;
	width: 100%;
	color: black;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	/*background-color: lightgray;*/
	background-color: #95b07b;
	-webkit-rtl-ordering: logical;
	cursor: text;
	margin: 0.5em 0em;
	font: 400 13.3333px Arial;
	padding: 1px 2px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(118, 118, 118);
	border-radius: 4px;
	border-image: initial;
}

.operator {
	-webkit-writing-mode: horizontal-tb !important;
	text-rendering: auto;
	width: 100%;
	color: black;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: auto;
	/*background-color: darkgray;*/
	background-color: #8a9b66 ;
	-webkit-rtl-ordering: logical;
	cursor: text;
	font: 400 13.3333px Arial;
	padding: 1px 2px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(118, 118, 118);
	border-radius: 4px;
	border-image: initial;
	text-align: center;
}

.num, .operator {
}

br {
}
